
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>610 HOME — The Art of Furnishing Your World</title>
<meta name="robots" content="noodp, noydir" />
<meta name="description" content="The Art of Furnishing Your World" />
<link rel="stylesheet" href="http://610homegeneva.com/wp-content/themes/thesis_17/style.css?033010-145204" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="http://610homegeneva.com/wp-content/themes/thesis_17/custom/layout.css?042310-25417" type="text/css" media="screen, projection" />
<!--[if lte IE 8]><link rel="stylesheet" href="http://610homegeneva.com/wp-content/themes/thesis_17/lib/css/ie.css?090809-235006" type="text/css" media="screen, projection" /><![endif]-->
<link rel="stylesheet" href="http://610homegeneva.com/wp-content/themes/thesis_17/custom/custom.css?040410-165555" type="text/css" media="screen, projection" />
<link rel="canonical" href="http://610homegeneva.com/" />
<link rel="alternate" type="application/rss+xml" title="610 HOME RSS Feed" href="http://610homegeneva.com/feed/" />
<link rel="pingback" href="http://610homegeneva.com/xmlrpc.php" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://610homegeneva.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://610homegeneva.com/wp-includes/wlwmanifest.xml" />

</head>
<body class="custom">
<div id="container">
<div id="page">
  <div id="header">

<table>
<tr valign="top">
<td align="left" width="20%">
<a href="http://610homegeneva.com">
<img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg" width="150" /></a>


</td>

<td width="37%" valign="top">
<font size="3">
<b>610 HOME</b><br>
610 South First Street<br>
Geneva, IL 60134    &nbsp;  &nbsp;<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=610+S+1st+St,+Geneva,+Kane,+Illinois+60134&sll=41.881017,-88.307655&sspn=0.004074,0.008948&ie=UTF8&hq=&hnear=610+S+1st+St,+Geneva,+Kane,+Illinois+60134&ll=41.881288,-88.307891&spn=0.008084,0.017896&z=16">Map</a><br>
630-262-3770<br>
</font>

<font size="2">
<br>
A one-minute walk from the Geneva <br>Third St.
shopping area and the Metra <br>train station.

</font>
</td>

<td width="19%" valign="top">
<font size="2">
Catherine Connor<br>
Barbara Freeman<br>
<br>

<br>
<a href="http://feedburner.google.com/fb/a/mailverify?uri=610Home&amp;loc=en_US">Email updates</a><br>
<a href="http://www.facebook.com/home.php?#!/pages/Geneva-IL/610-Home/109559482406316">Facebook</a><br>

<a href="http://610homegeneva.com/about/">About 610 HOME</a>


</font>
</td>


<td width="24%" align="right" valign="top">
<font size="2">
Tuesday: 10 am - 5 pm<br>
Wednesday: 10 am - 5 pm<br>
Thursday: 10 am - 5 pm<br>
Friday: 10 am - 5 pm<br>
Saturday: 10 am - 5 pm<br>
Sunday: 12 pm - 4 pm<br>
<br>


</font>
</td>

</tr>
</table>
<center><font size="6">The Art of Furnishing Your World</font></center> </div>
  <div id="content_box">
    <div id="content" class="hfeed">

      <div class="post-437 post hentry category-uncategorized post_box top" id="post-437">
        <div class="headline_area">
          <h2 class="entry-title"><a href="http://610homegeneva.com/mothers-day-2/" rel="bookmark" title="Permanent link to Mother&#8217;s Day">Mother&#8217;s Day</a></h2>
          <p class="headline_meta">by <span class="author vcard"><a href="http://610homegeneva.com/author/bfreeman/" class="url fn">Barbara Freeman</a></span> on <abbr class="published" title="2014-05-09">May 9, 2014</abbr></p>
        </div>
        <div class="format_text entry-content">
<p>We will be OPEN on Mother&#8217;s Day from 12:00 to 4:00!</p>
<p>We brought in two vintage sets of Ficks-Reed rattan furniture. One group  is a sofa and chair upholstered in a natural and cream awning stripe.  The second set includes a sofa, loveseat, armchair, ottoman, and  occasional table, and is upholstered in cream. Perfect for a sun porch,  or to incorporate into your indoor living spaces for a warm-weather  update. Check it out on our 610 Home Facebook Page.</p>
        </div>
      </div>

      <div class="post-430 post hentry category-uncategorized post_box" id="post-430">
        <div class="headline_area">
          <h2 class="entry-title"><a href="http://610homegeneva.com/think-spring/" rel="bookmark" title="Permanent link to Think Spring!!!">Think Spring!!!</a></h2>
          <p class="headline_meta">by <span class="author vcard"><a href="http://610homegeneva.com/author/bfreeman/" class="url fn">Barbara Freeman</a></span> on <abbr class="published" title="2014-04-16">April 16, 2014</abbr></p>
        </div>
        <div class="format_text entry-content">
<p><strong><span style="color: #99cc00">610 Home will be closed on Easter Sunday,<br />
April 20th. We have many new items<br />
in the store. Come and see what is new<br />
this Spring.</span></strong></p>
        </div>
      </div>

      <div class="teasers_box">

      <div class="post-422 post hentry category-uncategorized teaser" id="post-422">
<h2 class="entry-title"><a href="http://610homegeneva.com/january-sale-3/" rel="bookmark" title="Permanent link to January Sale">January Sale</a></h2>
<abbr class="teaser_date published" title="2014-01-23">January 23, 2014</abbr>

        <div class="format_teaser entry-content">
<p>January Sale! Now through January 31st.<br />
10% off all regular priced items in the store.<br />
20% off all Lighting and Mirrors.<br />
35% off of all Desks.<br />
Other markdowns up to 50% off.</p>
<p>This offer excludes custom orders and previously purchased merchandise.</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/january-sale-3/" rel="nofollow">Read the full article →</a>
      </div>

      <div class="post-419 post hentry category-uncategorized teaser teaser_right" id="post-419">
<h2 class="entry-title"><a href="http://610homegeneva.com/happy-holidays-3/" rel="bookmark" title="Permanent link to Happy Holidays">Happy Holidays</a></h2>
<abbr class="teaser_date published" title="2013-12-20">December 20, 2013</abbr>

        <div class="format_teaser entry-content">
<p>610 Home will be closed on December 24th and 25th.<br />
We will also be closed on December 31st and January 1st<br />
to enjoy the holiday with our families!<br />
We hope you all have a safe and Happy Holiday. Enjoy the<br />
season with your family and friends. </p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/happy-holidays-3/" rel="nofollow">Read the full article →</a>
      </div>

      </div>

      <div class="teasers_box">

      <div class="post-415 post hentry category-uncategorized teaser" id="post-415">
<h2 class="entry-title"><a href="http://610homegeneva.com/black-friday/" rel="bookmark" title="Permanent link to Black Friday">Black Friday</a></h2>
<abbr class="teaser_date published" title="2013-11-28">November 28, 2013</abbr>

        <div class="format_teaser entry-content">
<p>Friday Only!!!!!<br />
20% off all purchases on Friday November 29th. One day only!<br />
This offer excludes any custom orders, previously purchased merchandise, and already reduced items. Come and see all the holiday items in stock.<br />
Hope you have a happy Thanksgiving. We look forward to seeing you this Holiday Season!</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/black-friday/" rel="nofollow">Read the full article →</a>
      </div>

      <div class="post-412 post hentry category-uncategorized teaser teaser_right" id="post-412">
<h2 class="entry-title"><a href="http://610homegeneva.com/sale/" rel="bookmark" title="Permanent link to Sale">Sale</a></h2>
<abbr class="teaser_date published" title="2013-09-27">September 27, 2013</abbr>

        <div class="format_teaser entry-content">
<p>UP to 60% off !<br />
Many items marked down.<br />
All Sale items final sale!<br />
Sale ends this Sunday, September 29th!</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/sale/" rel="nofollow">Read the full article →</a>
      </div>

      </div>

      <div class="teasers_box">

      <div class="post-405 post hentry category-uncategorized teaser" id="post-405">
<h2 class="entry-title"><a href="http://610homegeneva.com/4th-of-july/" rel="bookmark" title="Permanent link to 4th of July">4th of July</a></h2>
<abbr class="teaser_date published" title="2013-06-28">June 28, 2013</abbr>

        <div class="format_teaser entry-content">
<p>610 Home will be closed next Thursday, the 4th of July. We hope you have a wonderful holiday. </p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/4th-of-july/" rel="nofollow">Read the full article →</a>
      </div>

      <div class="post-398 post hentry category-uncategorized teaser teaser_right" id="post-398">
<h2 class="entry-title"><a href="http://610homegeneva.com/swedish-days/" rel="bookmark" title="Permanent link to Swedish Days">Swedish Days</a></h2>
<abbr class="teaser_date published" title="2013-06-17">June 17, 2013</abbr>

        <div class="format_teaser entry-content">
<p>Hope you can join us for Swedish Days. We are having a tent sale Tuesday, June 18th through Sunday, June 23rd.  Everything in the tent is 50% off or greater.<br />
All regularly priced items in the store will be 10% off. (This excludes any custom orders.) There are markdowns throughout the store! Hope you can make it. [...]</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/swedish-days/" rel="nofollow">Read the full article →</a>
      </div>

      </div>

      <div class="teasers_box">

      <div class="post-392 post hentry category-uncategorized teaser" id="post-392">
<h2 class="entry-title"><a href="http://610homegeneva.com/happy-fathers-day/" rel="bookmark" title="Permanent link to Happy Father&#8217;s Day">Happy Father&#8217;s Day</a></h2>
<abbr class="teaser_date published" title="2013-06-09">June 9, 2013</abbr>

        <div class="format_teaser entry-content">
<p>In honor of Father&#8217;s Day we will be closed next Sunday, June 16th.<br />
Come in Tuesday through Saturday to see what&#8217;s new! We have<br />
many new arrivals!</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/happy-fathers-day/" rel="nofollow">Read the full article →</a>
      </div>

      <div class="post-384 post hentry category-uncategorized teaser teaser_right" id="post-384">
<h2 class="entry-title"><a href="http://610homegeneva.com/happy-mothers-day/" rel="bookmark" title="Permanent link to Happy Mother&#8217;s Day">Happy Mother&#8217;s Day</a></h2>
<abbr class="teaser_date published" title="2013-05-06">May 6, 2013</abbr>

        <div class="format_teaser entry-content">
<p>610 Home will be closed Sunday, May 12th, in honor of Mother&#8217;s Day. Hope all you mothers enjoy the day!</p>
        </div>
<a class="teaser_link" href="http://610homegeneva.com/happy-mothers-day/" rel="nofollow">Read the full article →</a>
      </div>

      </div>

      <div class="prev_next">
        <p class="previous"><a href="http://610homegeneva.com/page/2/" >&larr; Previous Entries</a></p>
      </div>

    </div>

    <div id="sidebars">
      <div id="multimedia_box" class="image_box">
        <div id="image_box">
<img class="three_by_two" src="http://610homegeneva.com/wp-content/themes/thesis_17/custom/rotator/610-4.jpg" alt="610-4.jpg" />
        </div>

<p>hello</p>

      </div>
      <div id="sidebar_1" class="sidebar">
        <ul class="sidebar_list">
<li class="widget widget_text" id="text-3">     <div class="textwidget"></div>
    </li>       </ul>
      </div>
      <div id="sidebar_2" class="sidebar">
        <ul class="sidebar_list">
<li class="widget widget_text" id="text-4">     <div class="textwidget"></div>
    </li>       </ul>
      </div>
    </div>
  </div>
  <div id="footer">
  </div>
</div>
</div>
<!--[if lte IE 8]>
<div id="ie_clear"></div>
<![endif]-->
</body>
</html>





<!-- <!DOCTYPE html>
<html>
<head>
  <title>Final Project Mockup Template</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/mycss.css">
  <script src="js/bootstrap.js"></script>
</head>
<body>

<div class="row">
  <div class="span12">

 <p><img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg"></p>

  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="jumbotron">

        <h2 align="center">Choose your current style and let us know a little a bit about you</h2>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4">


      <div class="col-md-12">
        <img src="http://homebuildersassociation.areavoices.com/files/2013/08/man-cave-w-guys-7.11.13.jpg"class="img-responsive">
      </div>

        <h4 class="subtext">You spend little money and time on shopping for furntiture and need all the help you can get</h4>
        <a href="http://610homegeneva.com/" class="btn btn-primary">This is me</a>
      </div>


      <div class="col-md-4">

<div class="col-md-12">
        <img src="http://2.bp.blogspot.com/-kQLNbczaDSY/URuPPO9ExdI/AAAAAAAALZs/0TwsJRKvKcg/s1600/man+cave-home+bar-home+movie+cinema.jpg" class="img-responsive">
      </div>

        <h4 class="subtext">You feel comfortable enough to know what you, but have no idea where to get started</h4>
        <a href="http://610homegeneva.com/" class="btn btn-danger">This is me</a>
      </div>

      <div class="col-md-4">

<div class="col-md-12">
        <img src="http://themancaveblog.com/wp-content/uploads/2013/04/Casino-Man-Cave.jpg" class="img-responsive">
      </div>
        <h4 class="subtext">Clothes and style mattter a lot to you, but now you need your place to match your style</h4>
      <div class="col-md-4">
      <div class="wrapper">
        <a href="http://610homegeneva.com/" class="btn btn-warning">This is me</a>
      </div>
      </div>
      </div>
    </div>

    <p></p>

  </div class="row">
        <footer>&#169; 610home 2014</footer>
      </div>
    </div>
  </div>
</body>
</html>
 -->
