<img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg" width="100">

<p>
<div>
  <p class="lead">What type of room style do you perfer?</p>
  <p class="lead">To learn more about the styles below click on the image...<em>trust us!</em></p>
</div>
</p>

<div class="row">
  <!-- classic Style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/culturecoutture/classic-interior-design-project/" target="_blank" class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRR0aGPpk8lmtxBfHub9Ss2WFjN-52T5zLjH3sKFe4s98jYdgNH">
    </a>
  </div>

<!-- Modern Style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/bdebytes/modern-interior-design/" target="_blank" class="thumbnail">
      <img src="http://fancycribs.com/wp-content/uploads/2013/04/Hot-Interior-Design-Trends-to-Watch-for-in-2013-23.jpg">
    </a>
  </div>

 <!--  Feng Shui Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/kathybeaman/feng-shui/" target="_blank" class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ62EGv7BpP7KNLvL5lt6-UShrhDHiU2Ptd7_Tfyo92wWJ0ueyM">
    </a>
  </div>


<!-- Not my style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://en.wikipedia.org/wiki/Keep_Calm_and_Carry_On" target="_blank" class="thumbnail">
      <img src="https://cdn0.iconfinder.com/data/icons/huge-business-vector-icons/60/equipment-512.png">
    </a>
    <p class="lead"><center>None of these styles match my prefernces we have some work to do</center></p>
  </div>
</div>


<div class="row">
<!-- Classic Style -->
<div class= "col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is your typical midwestern influenced by high end chains Rustoration Hardware, Crate and Barrel, etc.">
     <input type="hidden" id="integer" type="text" name="integer" value="Classic Sytle">
    <input type="submit" value="Classic" class="btn btn-primary">
</form>
</div>

<!-- Modern Style -->
<div class= "col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="Modern Style">
      <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is someone who would style at the W Hotel and shop at CB2 or a small boutique">
    <input type="submit" value="Modern" class="btn btn-primary">
</form>
</div>

<!-- Feng Shui -->
<div class= "col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="Feng Shui">
     <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is someone really cares to look smart and intelligent to others, wants social currency a story to tell about their room">
    <input type="submit" value="Feng shui" class="btn btn-primary">
</form>
</div>

<!-- None of these match my styles -->
<div class="col-xs-6 col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="No Match">
    <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is someone who is indecesive and will want want to be told what to by look at current room and be strong on recommendation">
    <input type="submit" value="We have work to do" class="btn btn-danger">
</form>
  </div>
</div>


<div class="row">
  <!-- Rustic Style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/designstylenet/rustic-style/" target="_blank" class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ2Lo9qMEDncJcXZcovJykat_lgw9rHWFGjoREdc7oNMqsBQC0c8g">
    </a>
  </div>

<!-- High Tech Style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/jlwisner/high-tech-homes/" target="_blank" class="thumbnail">
      <img src="http://tyentusa.com/wp/wp-content/uploads/2012/11/259660734736513412_dirKcnTy_c.jpg">
    </a>
  </div>

<!-- Artistic Style Image-->
  <div class="col-xs-6 col-md-3">
    <a href="http://www.pinterest.com/isabellepoesy/artistic-home-ii/" target="_blank" class="thumbnail">
      <img src="http://adorable-home.com/wp-content/gallery/cute-and-quaint-apartment-with-an-eclectic-interior-design/cute-and-quaint-apartment-with-an-eclectic-interior-design-1.jpeg">
    </a>
  </div>
</div>

<div class="row">

<!-- Rustic Style -->
<div class= "ccol-xs-6 col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="Classic Sytle">
    <input type="submit" value="Rustic" class="btn btn-primary">
</form>
</div>

<!-- High Tech Style -->
<div class= "col-xs-6 col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="Classic Sytle">
     <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is loves the new high end gadgets and concepts....wants their iPhone to toast their bread">
    <input type="submit" value="High-Tech" class="btn btn-primary">
</form>
</div>

<!-- Artistic Style -->
<div class= "col-xs-6 col-md-3">
  <form action="/create_room_preference">
     <input type="hidden" id="integer" type="text" name="integer" value="Classic Sytle">
     <input type="hidden" id="room_photo_id" type="text" name="room_photo_id" value="This Persona is someone who would style at the W Hotel and shop at CB2 or a small boutique">
    <input type="submit" value="Artistic" class="btn btn-primary">
</form>
</div>

</div>

