<p><img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg"></p>

<div class="page-header">
  <h1>What type of rooms do you perfer?</h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRR0aGPpk8lmtxBfHub9Ss2WFjN-52T5zLjH3sKFe4s98jYdgNH">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://fancycribs.com/wp-content/uploads/2013/04/Hot-Interior-Design-Trends-to-Watch-for-in-2013-23.jpg">
    </a>
  </div>


  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ62EGv7BpP7KNLvL5lt6-UShrhDHiU2Ptd7_Tfyo92wWJ0ueyM">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="/current_rooms/new" class="thumbnail">
      <img src="https://cdn0.iconfinder.com/data/icons/huge-business-vector-icons/60/equipment-512.png">
    </a>
    <p><center>None of these styles match my prefernces we have some work to do</center></p>
  </div>



<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ2Lo9qMEDncJcXZcovJykat_lgw9rHWFGjoREdc7oNMqsBQC0c8g">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://tyentusa.com/wp/wp-content/uploads/2012/11/259660734736513412_dirKcnTy_c.jpg">
    </a>
  </div>


  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://adorable-home.com/wp-content/gallery/cute-and-quaint-apartment-with-an-eclectic-interior-design/cute-and-quaint-apartment-with-an-eclectic-interior-design-1.jpeg">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
  <p><a href="/current_rooms/new" class="btn btn-primary" role="button">This is me</a></p>
</div>
</div>



