<p>
<div>
  <p class="lead">You are all set!</p>
  <p class="lead">One of our designers will be in touch with you within 48 hours</p>
</div>
</p>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS950_sC4UgMDw5u3p5RWcrI5jOrZSEWvV5gos212LimvIiH2f5">
      <div class="caption">
        <center><p class ="lead">Just sit back while our team works on getting you the room you always wanted!</p></center>
        <p class="lead">Click below to update your details or go back to our home page</p>
      </div>
      <div class ="row">
        <p><a href="/home_610" class="btn btn-primary" role="button">610 Home</a> <a href="/users/edit" class="btn btn-danger" role="button">Edit Profile</a></p>
      </div>
    </div>
  </div>
</div>



