<p>
<div>
  <p class="lead">You are all set!</p>
  <p class="lead">One of our designers will be in touch with you within 48 hours</p>
</div>
</p>

<table class="table table-hover">
  <thead>

    <tr>
      <th class="lead">Email</th>
      <th class="lead">Room Preference</th>
      <th class="lead">Current Room (photo)</th>
      <th class="lead">Style Preference</th>
      <th class="lead">Contact Prefernce</th>
    </tr>
  </thead>

<tbody>
    <% session_id.each do |user| %>
      <tr>
        <td>
          <%= room_preference.room_photo_id %>
        </td>

       <!--  Buttons -->
       <td>
          <a href="/current_rooms/:session_id" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/current_rooms/:session_id" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/current_rooms/:session_id" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>



