<img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg" width="100">

<div class="page-header">
  <h2>Tell us a little bit about yourself.....</h2>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cathyday.com/files/2011/04/man-cave-garage.jpg">
      <div class="caption">
        <h3><center>Man Cave</center></h3>
        <p><center>You spend little time shopping for furniture nor even know where to start</center></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://a.abcnews.com/images/Travel/ht_mancave_2_jef_110911_wb.jpg">
      <div class="caption">
        <h3><center>Bachleor Pad</center></h3>
        <p><center>You know what you are looking for, but you never know where to start or have the time to look</center></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.decoist.com/wp-content/uploads/2012/02/modern-bachelor-pad-interior-design.jpg">
      <div class="caption">
        <h3><center> Gentleman and a Scholar</center></h3>
        <p><center>Clothes and style matter a lot to you and now need your place to match your style</center></p>
      </div>
    </div>
  </div>

<!--Man Cave -->

<div class="col-sm-4" "col-md-4">
  <form action="http://localhost:3000/create_user_preference">
     <input type="hidden" id="image_url" type="text" name="image_url" value="Man Cave">
     <input type="hidden" id="caption" type="text" name="caption" value="I spend little time shopping for furniture nor even know where to start">
    <center><input type="submit" value="This is me" class="btn btn-primary"></center>
</form>
</div>

<!-- Bachelor Pad -->

<div class="col-sm-4" "col-md-4">
  <form action="http://localhost:3000/create_user_preference">
     <input type="hidden" id="image_url" type="text" name="image_url" value="Bachelor Pad">
     <input type="hidden" id="caption" type="text" name="caption" value="I know what you are looking for, but I never know where to start or have the time to look">
    <center><input type="submit" value="This is me" class="btn btn-primary"></center>
</form>
</div>

<!-- Gentleman and a Scholar -->

<div class="col-sm-4" "col-md-4">
  <form action="http://localhost:3000/create_user_preference">
     <input type="hidden" id="image_url" type="text" name="image_url" value="Gentleman and a Scholar">
      <input type="hidden" id="caption" type="text" name="caption" value="Clothes and style matter a lot to me and I need my place to match my style">
    <center><input type="submit" value="This is me" class="btn btn-primary"></center>
</form>
</div>

</div>
