<p><img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg"></p>

<div class="page-header">
  <h2>Tell us a little bit about yourself.....</h2>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Man Cave</h3>
        <p>You spend little time shopping for furniture nor even know where to start</p>
        <p><a href="#" class="btn btn-primary" role="button">This is me</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Bachleor Pad</h3>
        <p>You know what you are looking for and have been told you have good taste, but you never know where to start</p>
        <p><a href="#" class="btn btn-primary" role="button">This is me</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>A Gentleman and a Scholar</h3>
        <p>Clothes and style matter alot to you now and you need your place to match your style</p>
        <p><a href="#" class="btn btn-primary" role="button">This is me</a></p>
      </div>
    </div>
  </div>

</div>
