<img src="http://610homegeneva.com/wp-content/uploads/2010/03/610home-black.jpg" width="100">

<div class="page-header">
  <h1>User Preference #<%= @user_preference.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User Preference</dt>
  <dd><%= @user_preference.image_url %></dd>

  <dt>User preference boolean</dt>
  <dd><%= @user_preference.user_preference_boolean %></dd>

</dl>
